/*Modelo de caja universal */
* {
    box-sizing: border-box;
}

html,body {
    height : 100%;
}
/*Configuracion general:
-Quitamos los márgenes por dofectro
-Elegimos una tipografia base
-Definimos color de texto y fondo
*/
body{
    margin : 0;
    font-family: Arial, Helvetica, sans-serif;
    color:#333;
    background:#f0f0f0;
    display: flex;  /* Contenedor flexible*/
    flex-direction: column;
    min-height: 100vh;    /*  Altura total del viewport */
}
/*Cabecera centrada y con espacio de relleno (padding)*/
.cabecera{
    text-align: center;
    padding: 1rem; /* 1rem en este caso ocupa 16 pixeles(puede cambiar)*/
    display: flex;
    justify-content: space-between;  /*separa brand y menu*/
    align-items: center;     /*Centrar verticalmente*/
    background: #2C3E50;
    color: #fff;
}

/*Tamaño del logo*/

.logo{
    height: 100px;
    width: auto;
}


/*Menu con FLEX*/

.menu{
    list-style: none;    /*Quitamos las viñetas*/
    display: flex;      /*Colocamos en linea los enlaces*/
    gap: 1rem;      /*Separo los enlaces*/
    margin: 0;
    padding: 0%;
}

/*Estilo basico de los enlaces del menú*/

.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/*Efecto hover para los enlaces*/
.menu a:hover{
    background-color: #fff;
    color: #299231;
}

/*Titulo de la cabecera sin margenes extra y color destacado*/

.titulo{
    margin: 0%;
    color: #2C3E50;
}
/*Zona principal(main) le ponemos un poco de padding(es el relleno) */

#contenido-principal{
    padding: 1rem;
    flex-grow: 1;       /*Esto empuja el footer hacia abajo*/
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

/*clase "tarjeta": usada para agrupar secciones siaulmente
    -color blanco
    -borde sutil y redondeado por las esquinas
    -sombre ligera
    -ancho maximo controlado

*/

.tarjeta{
    background: #f0f0f0;
    border-radius: 12px;
    width: min(900px, 95%);
    margin: 1.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ddd;
    box-shadow: 0 2px 5px rgba(0,0,0,10);
}
.aviso{
    color:#7f8c8d
}

/*Listas en dos columnas flexibles (FLEX)*/
.listas{
    display: flex;   /* Convierto el contenedor en flexible */
    flex-direction: row;
    gap: 2rem;
}

/*Ajustes visuales de las listas*/

.lista{
    margin: 0.5rem 0;  /*Separación vertical entre los elementos*/

}

/* Estilamos las tablas */
.tabla {
    width: 100%;
    border-collapse: collapse;
    margin-top: 1rem;
}

/* Border y relleno  a las celdas*/

.tabla th, .tabla td{
    border: 1px solid #ddd;
    padding: 10px;
}

.tabla th {
    background: #2C3E50;
    color: #ddd;
    text-align: center;
}

.tabla td {
    text-align: left;
    white-space: nowrap;   /* Evita saltos de linea en celdas */
}

.pie{
    text-align: center ;
    padding: 1rem;
    color: #7f8c8d;
    background: #38707e;
    font-size: 14px;
}