body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.contenido-principal{
    padding: 0.2rem 2rem 2rem;
}

.cabecera{
    background-color: #4CAF50;
    color: white;
    text-align: center;
}

.cabecera-imagen{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.imagen-milhouse{
    height: 100px;
    width: 100px;
    margin-right: 15px;
}

.pie{
    background-color: #4CAF50;
    color: white;
    text-align: center;
    font-size: 0.9rem;
}
