body{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0%;
    display: flex;
    flex-direction: column;
}

.cabecera{
    background-color: #F5A623;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
}

.cabecera h1{
    margin: 0;
}

#contenido-principal{
    background-color: beige;
    padding: 2rem;
}

.pie{
    background-color: #333;
    color: white;
    text-align: center;
    padding: 15px;
}

.receta{
    background-color: white;
    color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    text-align: center;
    border: 10px;
    padding: 10px;
}

.imagen-receta{
    align-self: center;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    max-width: 100px;
    border: 10px;
}